/* Amazon Product Page Mockup - Ayelet Danieli */
:root {
  --colorHover: #e47911;
  --colorDark: #333;
  --colorTextNavbar: #ccc;
  --colorText: #0f1111;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/webfonts/AmazonEmber_W_Rg.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  color: var(--colorText);
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
}

.container {
  width: 99vw;
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}

ul {
  list-style: none;
}

.sprite {
  background: url("../images/nav-sprite-global-1x-hm-dsk-reorg._.png");
}

hr {
  color: #e7e7e7;
}
.show-case {
  margin-left: 15px;
}

.stars {
  width: 80px;
  height: 15px;
  background: url("../images/aui-mini-sprite-2015-02.png") -170px;
  margin-right: 8px;
  display: inline-block;
}
/* /////////////////////////////////////////////////// */

.nav-belt {
  height: 60px;
  background-color: #131921;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-around;
  display: grid;
  grid-template-columns: 100px 120px 525px 50px 125px 70px 75px;
  grid-template-rows: auto;
  position: relative;
  grid-gap: 10px;
}
.nav-belt * {
  /* outline: 1px solid magenta; */
  color: var(--colorTextNavbar);
  /* margin: 5px; */
}

.nav-belt > .logo {
  top: 0;
  left: 0;
  width: 100px;
  /* width: 100%; */
  height: 35px;
  background-size: 350px;
  /* backg  round-color: #fff; */
  /* background: url("../images/nav-sprite-global-1x-hm-dsk-reorg._.png"); */
  background-position: -10px -50px;
  padding: 1px 8px 0 6px;
  margin: 1px;
  margin-top: 12px;
  overflow: hidden;
}

.nav-belt > :hover {
  outline: 1px solid white;
}
.nav-belt .logo a {
  cursor: pointer;
  width: inherit;
  height: inherit;
  display: block;
}
/* /////////////////////// */
.nav-belt .location {
  /* top: 0;  */
  left: 100px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  /* color: white; */
  width: 100%;
  justify-content: start;
}
.nav-belt .location .sprite {
  background: url("../images/nav-sprite-global-1x-hm-dsk-reorg._.png");
  background-position: -71px -378px;
  grid-row: 1 / span 2;
  height: 18px;
  width: 15px;

  margin-top: 28px;
}
.nav-belt .location .line {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 8px;
}
.nav-belt .location .line1 {
  align-self: end;
  font-size: 12px;
  justify-self: stretch;
}
.nav-belt .location .line2 {
  font-size: 14px;
  font-weight: 700;
}
/* //////////////////////////////////// */
.nav-belt .search-textbox {
  width: 525px;
  display: flex;
  align-items: center;
  height: 40px;
  border:2px solid #131921;     
  margin: 8px auto;
  border-radius: 4px;

}
.nav-belt .search-textbox * {
    height: 100%; 
}

.nav-belt .search-textbox .left .search-select {
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: black;
}

.nav-belt .search-textbox:hover,
.nav-belt .search-textbox:focus {
    border: 1px solid #F3A847;
    /* border-radius: 4px; */
    outline: 0;
}
/* .nav-belt .search-textbox .center {} */
.nav-belt .search-textbox .left,
.nav-belt .search-textbox .right { 
    width: 50px; 
    height: 100%; 
    position:relative;
}

.nav-belt .search-textbox .left .search-select::after {

}

.nav-belt .search-textbox .center {
    width: 100%;
}


.nav-belt .search-textbox .center input {
    width: 100%;
    padding: 1px;
    
}
.nav-belt .search-textbox .center input:focus {
    border:none;
    outline: 0;
}

.nav-belt .search-textbox .right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: none;
    background: #F3A847;
}
#nav-search-submit-button,  
.nav-belt .search-textbox .right .input {
    background: #F3A847;
    color: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    padding: 1px;
}
.nav-belt .search-textbox .right .sprite {
    background: url("../images/sprites1.png") 215px -30px;
    /* background-position: 127px -19px; */
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;    
}
/* //////////////////////////////////// */
.nav-belt .language {
  background-color: lightseagreen;
  height: 100%;
}
/* ////////////////////////////////////////// */
.nav-belt .accounts,
.nav-belt .returns {
  margin: auto 0;
}
.nav-belt .accounts a {
  color: #fff;
  /* text-decoration: none; */
}
.nav-belt .accounts a:hover {
  /* outline: 1px solid white; */
  /* text-decoration: none; */
}
.nav-belt > .accounts > a > span:nth-child(1),
.nav-belt .returns a .span-1,
.nav-belt .accounts a .span-1 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
.nav-belt .returns a .span-2,
.nav-belt .accounts a .span-2 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.nav-belt > .search-textbox .left .search-select::after, 
.nav-belt > .accounts > a > span:nth-child(2)::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #a7acb2;
  position: absolute;
  top: 7px;
  right: -14px;
}
/* ////////////////////////////////////////////////////// */
.nav-belt .cart .counter {
    position: relative;
}

.nav-belt .cart .counter span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: #f08804;
  position: absolute;
  top: 16px;
  right: 29px;
}
.nav-belt .cart .counter .sprite {
  width: 38px;
  height: 26px;
  color: white;
  background-position: -10px -340px;
  padding: 1px 36px 0 6px;
  margin: 1px;
  margin-top: 12px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 13px;
  /* left: 50%; */
  /* margin: auto; */
}

/* /////////// //////////////////////////////////////// */
.nav-main {
  height: 40px;
  background-color: #232f3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-main .fill * {
  color: white;
  font-size: 14px;
  line-height: 12px;
}
.nav-main .left *,
.nav-main .right * {
  color: white;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}

.nav-main .left a,
.nav-main .right a {
  text-decoration: none;
  white-space: nowrap;
}

.nav-main .left {
  margin-left: 15px;
}
.nav-main .right {
  margin-right: 15px;
}

.nav-main .fill ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  flex-direction: row;
  white-space: nowrap;
}
.nav-main .fill ul li {
  list-style: none;
}
.nav-main .fill ul li * {
  margin: 15px;
}
.nav-main .fill ul li a {
  text-decoration: none;
}

/* TODO: Change this later to a real hamburger menu */
.nav-main > nav.left > a > span:nth-child(1) {
  transform: rotate(90deg);
  margin: auto 0;
  position: absolute;
  transform-origin: center;
}
.nav-main > nav.left > a > span:nth-child(2) {
  /* transform: rotate(90deg); */
  /* position: absolute; */
  /* transform-origin: center; */
  margin-left: 20px;
}

/* /////////////////////////////////////////////// */
/* Categories */

.nav-categories {
  height: 30px;
  font-size: 12px;
  line-height: 33px;
}

.nav-categories ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  list-style: none;
  background-color: #fafafa;
}

.nav-categories ul li {
  white-space: nowrap;
  position: relative;
}

.nav-categories ul li a {
  color: var(--colorDark);
  padding: 5px;
  text-decoration: none;
}

.nav-categories ul li:hover a {
  color: var(--colorHover);
  /* border-bottom: 2px solid #e7e7e7; */
  border-bottom: 2px solid var(--colorHover);
  /* text-decoration:underline; */
}

.nav-categories > ul > li:nth-child(1) > a {
  font-weight: bold;
  position: relative;
}

.nav-categories > ul > li:nth-child(1) > a::after {
  /* background-color: red; */
  position: absolute;
  top: 14px;
  right: 11px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent;
  border-top: 3px solid #a0a0a0;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  font-size: 3px;
  zoom: 1;
}

.nav-arrow,
.nav-categories > ul > li > a > span {
  position: absolute;
  top: 16px;
  right: -5px;
  border-style: solid;
  border-width: 3px;
  border-color: transparent;
  border-top: 3px solid #a0a0a0;
  border-bottom-width: 0;
  width: 0px;
  height: 0px;
  font-size: 3px;
  line-height: 0;
  font-size: 3px;
  zoom: 1;
}

.nav-categories > ul > li > a:hover > span {
  border-top-color: #666;
}

/* /////////////////////////////////////////////////// */
/* Show case */

.show-case {
  /* height: 80vh; */
  /* background-color: lightsalmon; */
  /* overflow: auto; */
  /* display: flex; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* flex-direction: row; */
  /* border-bottom: 1px solid rgb(15, 17, 17); */
}

.bread-crumbs-container > p {
  height: 20px;
  /* background-color: lightslategrey; */
  /* font-size: 12px; */
  font-size: 12px;
  line-height: 14px;
  color: #565959;

  /* font-weight: 400; */
  /* display: flex; */
  /* justify-content: left; */
  padding: 0 16px;
  margin-top: 8px;
}
.bread-crumbs-container > p >a:hover {
    text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 100%;
}

.product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.content-container .product-container .product-right {
  height: 80vh;
  /* width: 244px; */
  width: 25%;
  /* background-color: lightseagreen; */
  align-self: right;
}

.content-container .product-container .product-center {
  /* height: 80vh;   */
  width: 30%;
}
/* ///////////////////////////////////////////// */
/* product-left column (images)*/
.content-container .product-container .product-left {
  height: 80vh;
  width: 45%;
  /* background-color: lightslategrey; */
  display: grid;
  grid-template-columns: 20% 80%;
  /* flex-direction: column; */
  /* height: 100%; */
  /* justify-content: space-between; */
  /* align-items: start; */
  position: sticky;
  top: 4px;
  margin-left: 5px;
}

/* .product-left {
    
} */

.product-left .list-images {
  /* background-color: lightsteelblue; */
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.list-images ul * {
  margin: 3px auto;
}
.img-btn {
  border: 1px solid #a2a6ac;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  outline: none;
  color: transparent;
  position: relative;
}

.img-btn + img {
  position: absolute;
  /* height: auto; */
  width: 400px;
  height: 380px;
  left: 120px;
  min-width: 390px;
  min-height: 390px;
  object-fit: contain;
  top: 0px;
  opacity: 0;
  background-color: #fff;
  /* outline: 1px solid blue; */
}

@media screen and (max-width: 500px) {
    .img-btn + img {
        position: absolute;
        /* height: auto; */
        width: 200px;
        height: 200px;
        left: 120px;
        /* min-width: 390px; */
        /* min-height: 390px; */
        /* object-fit: contain; */
        /* top: 0px; */
        /* opacity: 0; */
        background-color: #fff;
        /* outline: 1px solid blue; */
      }
      
}

.img-btn-1 + img {
  opacity: 1;
}

.img-btn .current {
  opacity: 1;
}

.current + img,
.img-btn:focus + img {
  /* width: 400px; */
  /* max-width: 400px; */
  opacity: 1;
  /* outline: 1px solid pink;   */
}

.img-btn:active,
.img-btn:focus,
.img-btn:hover {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}
.img-btn-1 {
  background: url("../images/img-1-icon.jpg");
}

.img-btn-2 {
  background: url("../images/img-2-icon.jpg");
}
.img-btn-3 {
background-color: #fff;
  background: url("../images/img-3-icon.jpg");
}
.img-btn-4 {
  background: url("../images/img-4-icon.jpg");
}
.img-btn-5 {
  background: url("../images/img-5-icon.jpg");
}

.product-left .main-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.product-left .main-image .main-image-1 img {
  /* src: ulr('../images/img-1-main.jpg'); */
  width: 400px;
  height: 400px;
}

/* ///////////////////////////////////////////////// */
/* product center */
.product-center .title {
  font-size: 24px;
  line-height: 32px;
  display: block;
}
.product-center .visit-store {
  font-size: 14px;
  line-height: 20px;
}

.product-center .visit-store a,
.product-center .visit-store a:link,
.product-center .visit-store a:visited {
  text-decoration: none;
  color: #007185;
}
.product-center .visit-store a:hover {
  text-decoration: underline;
}

.product-center .customer-reviews {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.product-center .customer-reviews .stars {
  width: 80px;
  height: 15px;
  background: url("../images/aui-mini-sprite-2015-02.png") -170px;
  margin-right: 8px;
}

.product-center .sellers {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
}

.product-center .sellers a:link,
.product-center .sellers a:visited,
.product-center .sellers a {
  text-decoration: none;
  color: black;
}

.product-center .sellers a:hover {
  text-decoration: underline;
  /* color: #007185; */
  text-decoration-color: #007185;
  /* outline: 0; */
}

.product-center .feature-bullets ul {
  list-style: disc;
  margin-left: 18px;
}

.product-center .feature-bullets ul li {
  margin: 10px 0;
}
.product-center .report {
  margin: 25px 0;
}

.product-center .report .icon {
  background-image: url("../images/report.png");
  display: inline-block;
  position: relative;
  width: 13px;
  top: 1px;
  height: 11px;
  background-position: 0 0;
  background-size: 200% 100%;
  background-repeat: no-repeat;
}

.product-center .report a,
.product-center .report a:link,
.product-center .report a:visited {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
  line-height: 20px;
  text-size-adjust: initial;
}

/* ///////////////////////////////////////////// */
/* right column */
.gray-border >*,
.product-container > div.product-right > div.buyBox > * {
    display: block;
    margin: 5px 0;
}

.gray-border,
.product-container > div.product-right > div.buyBox {
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    padding: 8px;
}

/* ///////////////////////////////////////////////// */
/* Frequently Bought Together */

.bought-together-container {
  /* display: flex; */
  justify-content: left;
  align-items: center;
}
.carousel .strip-title,
.bought-together-container .strip-title {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #cc6600;
  margin-bottom: 40px;
  margin-top: 15px;
}
.info-text,
.bought-together-container .product-info {
  font-size: 14px;
  line-height: 20px;
}

.light-gray {
    color: #383b3b;
}
.dark-text {
    color: var(--colorText);
}
.small-text {
    font-size: 12px;
    line-height: 16px;
}
.bought-together-container .images-strip {
  display: flex;
  margin-bottom: 15px;
}
.bought-together-container .images-strip .thumbnail {
  width: 160px;
  height: auto;
  object-fit: contain;
}

.bought-together-container .images-strip span {
  font-size: 18px;
  margin: auto 0;
}

.bought-together-container .images-strip .buyBox {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#add-to-cart-button,
#buy-now-button,
button#toCart,
button#toList {
  /* display: block; */
  height: 22px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  line-height: 20px;
  margin: auto 10px;
}

#add-to-cart-button,
#buy-now-button,
button#toCart {
  background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
}
#sell-on-amazon,
#add-to-cart-button,
#buy-now-button {
    font-size: 14px;
    line-height: 30px;
    margin: 20px auto;
    width: 100%;
    height: 2.2rem;
    display: block;
}

.bought-together-container .product-info a,
.bought-together-container .product-info a:link,
.bought-together-container .product-info a:visited {
  color: #007185;
}

.bought-together-container .product-info a:hover {
  color: #c7511f;
}

/* //////////////////////// */
/* related-products carousel */

.carousel-strip {
  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-rows: auto;
  align-items: top;
  height: 100%;
  /* background-c olor: linen; */
}

.carousel-strip > ul > li > div.pr-ratings * {
  top: 0;
}

.carousel-strip .products *,
.carousel-strip > ul > li > div.pr-ratings > span {
  color: rgb(0, 113, 133);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.carousel-strip > div.products > div > div.pr-name a,
.carousel-products .product .pr-name {
  font-size: 14px;
  color: rgb(0, 113, 133);
  line-height: 20px;
}

.carousel-strip > ul > li > .pr-name > a {
  color: rgb(0, 113, 133);
}

.carousel-strip > ul > li > a > div:hover,
.carousel-strip > ul > li > .pr-name > a:hover {
  text-decoration: underline;
  color: #c7511f;
}

.price, 
.carousel-products > li .price {
  color: #c45500;
  font-size: 18px;
  line-height: 24px;
}

.carousel > div.carousel-strip > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.carousel-strip .previous button,
.carousel-strip .next button {
  height: 35px;
  width: 35px;
  border-radius: 2px;
  outline: 0;
  border: 1px solid var(--colorTextNavbar);
  background-color: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto 0;
}

.carousel-strip .previous button {
  background-image: url(../images/previous.png);
}

.carousel-strip .next button {
  background-image: url(../images/next.png);
}

.carousel-strip .previous,
.carousel-strip .next {
  margin-top: 70px;
}
.carousel-strip .previous button:hover,
.carousel-strip .next button:hover {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.carousel-strip .previous button:active,
.carousel-strip .next button:active {
  border-color: #adb1b8 #a2a6ac #a2a6ac;
  border-color: #e77600;
  background-color: linear-gradient(to top, #f7f8fa, #e7e9ec);
}
